body{

	margin: 0;
	padding: 0;
	top: 0;
	left: 0;

	header{

	}

	.slide1{
		@extend .slide;

	}

	.slide2{
		@extend .slide;
	}

	.center-v{
		vertical-align: middle;
		display: table-cell;
	}

	.center-h{
		text-align: center;
		margin: 0 auto;
	}

	.slide{
		width: 100%;
		height: 100vh;
		background-color: #666;
	}

}

